---
const { data } = Astro.locals.starlightRoute.entry;
const { title = data.title, tagline } = data.hero || {};
const { sidebar } = Astro.locals.starlightRoute;

function getFirstHref(item: any): string | null {
  if (typeof item?.href === "string" && item.href) {
    return item.href;
  }
  if (item?.entries && Array.isArray(item.entries) && item.entries.length > 0) {
    return getFirstHref(item.entries[0]);
  }
  return null; // No valid href found
}

// check if 404 page
const is404 = Astro.locals.starlightRoute?.id === "404";
---

<div
  class="hero flex flex-col items-center mx-auto px-4 sm:px-6 lg:px-8 pt-36 md:pt-44 lg:pt-56 pb-16"
  style="min-height: min(856px, 85vh);"
>
  {title && <h1 set:html={title} class="mb-8 text-center rounded-2xl" />}
  {tagline && <p set:html={tagline} class="tagline-custom text-center" />}

</div>

<style>
  @layer starlight.core {
    h1 {
      font-size: 7rem !important;
      line-height: 6.5rem !important;
      letter-spacing: -4px;
      color: var(--sl-color-white);
    }
    .tagline-custom {
      font-size: 2.25rem;
      margin-top: 0.25rem;
      color: #e5e5e5;
    }
    @media (min-width: 1024px) {
      .tagline-custom {
        padding-left: 8rem;
        margin-top: -4rem;
      }
    }
    :root[data-theme="light"] .tagline-custom {
      color: #2C2C2C !important;
    }
    @media (max-width: 940px) {
      h1 {
        font-size: 3.5rem !important;
        line-height: 3.5rem !important;
        letter-spacing: -2px;
      }
    }
  }
</style>
<script>
  const iconElements = document.querySelector("[data-icon-path]");
  const heroSection = document.querySelector(".hero");
  const header = document.querySelector(".header");
  const heroBG = document.querySelector(".hero-bg") as HTMLElement;

  const totalHeight =
    (heroSection?.clientHeight || 0) + (header?.clientHeight || 0) + 24;

  heroBG.style.height = `${totalHeight}px`;

  // make image element and add the path to src
  if (iconElements) {
    const iconPath = iconElements.getAttribute("data-icon-path");

    const img = document.createElement("img");
    img.src = `/${iconPath}` || "";
    img.alt = "icon";
    img.className =
      "hidden lg:inline-block h-44 w-auto rounded-2xl align-middle";
    iconElements.replaceWith(img);
  }
</script>
